<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" 
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Vozei</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-light bg-light bg-gradient border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Vozei</a>
        <div>
          {% if user.is_authenticated %}
          <div class="dropdown">
            <a class="navbar-text dropdown-toggle" data-bs-toggle="dropdown" id="accountDropdownLink" href="#">
              {{ user.email }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdownLink">
              <li>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item"">Sign out</button>
                </form>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <nav class="navbar navbar-light bg-light mt-auto">
      <div class="container-fluid">
        <div class="container text-center p-2">
          <span class="navbar-text">
            Made by Zach Kagin | zkagin@gmail.com |
            <a href="https://github.com/zkagin/vozei" target="_new">
              github.com/zkagin/vozei
            </a>
          </span>
        </div>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
      crossorigin="anonymous">
    </script>
  </body>
</html>
